# Android build
/build/
/app/build/

# Local configuration
/local.properties

# Firebase
**/google-services.json

# Signing keys
*.jks
*.keystore

# Gradle
.gradle/
!gradle/wrapper/gradle-wrapper.properties

# IntelliJ/Android Studio
.idea/
*.iml

# OS
.DS_Store

# Node
node_modules/

# Crashlytics
fabric.properties
/crashlytics-build.properties

# Others
/captures/
/outputs/
